:root {
  --font: rgba(0, 0, 0, 0.65);
  --secondary-font: #dc7c7c;
}

html {
  height: 100%;
}

body {
  color: var(--font);
  margin: 0;
  height: 100%;
}

h1, h2, h3 {
  color: var(--secondary-font);
}

.grid {
  /* display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 10% 80% 10%; */
  min-height: 100%;
  /* padding: 0 2rem 2rem; */
}

nav {
  font-size: 18px;
  grid-area: header;
  width: 100%;
}

.navbar__container {
  padding: 0.7rem;
  border-bottom: 1px solid #e8e8e8;
}

.navbar__brand {
  font-size: 24px;
  color: var(--secondary-font);
  margin-left: 0.7rem;
  text-decoration: none;
}

.navbar__brand:hover {
  transition: all 0.3s;
  color: var(--font);
}

.navbar__nav {
  margin: 0;
  list-style: none;
  display: inline;
}

.navbar__item {
  display: inline-block;
}

.navbar__link {
  color: var(--font);
  text-decoration: none;
  padding: 1.5rem;
}

.navbar__link:hover {
  transition: all 0.3s;
  color: var(--secondary-font);
}

main {
  height: 100%;
  width: 75%;
  margin: auto;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.center {
  text-align: center;
}

.lib__name {
  text-align: center;
}

.lib__link {
  color: var(--secondary-font);
  text-decoration: none;
}

.lib__link:hover {
  transition: all 0.3s;
  color: var(--font);
}

.lib__description {
  width: 100%;
  text-align: center;
}

.card {
  margin: 0.5rem auto 0 auto;
  padding: 0.5rem;
  width: 50%;
  border: 1px solid #e8e8e8
}

.card:first-child {
  margin-top: 0;
}
